<!DOCTYPE html>
<html>
    <head>
        <title>Quado Arkanoid - beautiful android arkanoid (breakout) game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/display.css">
        <link rel="stylesheet" type="text/css" href="/styles/carousel.css">
        <link rel="stylesheet" type="text/css" href="/styles/colors.css">
    </head>

    <body>

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/images/icon_quado.png" alt="Quado" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/public/arcade/"><i class="fa fa-trophy fa-lg"></i> Highscores Arcade</a></li>
                        <li><a href="/public/normal/"><i class="fa fa-star fa-lg"></i> Highscores Normal</a></li>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://github.com/tomastrajan/Quado"><i class="fa fa-github fa-lg"></i> Github</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>


        <%- body %>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-12 text-center">
                    <hr />
                    <small>Trajan 2014</small>
                    <br />
                    <br />
                </div>
            </div>
        </div>

        <!-- Bring in the socket.io client -->
        <script type="text/javascript" src="/js/socket.io.js"></script>
        <!-- then beef it up with some convenience logic for talking to Sails.js -->
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <!-- listen on socket.io for incoming messages -->
        <script type="text/javascript" src="/js/app.js"></script>

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    </body>
</html>
