body {
  padding-top: 70px;
}

.pagination select {
    margin-left:20px;
}

.navbar-brand {
    position: relative;
    margin-right:60px;
}

.navbar-brand img {
    position: absolute;
    top:2px;
    left:15px;
    height:46px;
}

.phoneScreenshot {
    height: 220px;
}

.phoneScreenshot img {
    z-index: 10000;
    position: absolute;
    top: -125px;
    left:50%;
    margin-left: -261px;
}

.phoneScreenshotXs {
    position: relative;
    top: 30px;
}


.phoneScreenshotSm {
    position: relative;
    top: 48px;
}

.phoneScreenshotXs img, .phoneScreenshotSm img {
    margin: 0 auto;
}


