<div class="row">
    <div class="col-md-12">

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>Quado</h1>
                    <p>Addictive breakout (arkanoid) type game combined with ultimate Zen experience!</p>
                    <p>
                        <a href="https://play.google.com/store/apps/details?id=com.trajan.android.game.Quado&hl=en" >
                           <img src="/images/google-play-button.png" alt="Android app on Google play (free)"/>
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://raw.githubusercontent.com/tomastrajan/Quado/master/art/banner/quado_banner_2014.jpg" class="img-responsive" alt="Quado banner">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>Players opinions</h2>
        <div class="alert alert-info">
            Good old Arkanoid The more you play the harder it gets, which is a little annoying but it makes the game addictive. Great waiting time killer :)
        </div>

        <div class="alert alert-info">
            13/10 I hate this game
        </div>

        <div class="alert alert-info">
            very nice game
        </div>

    </div>
</div>