<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-6 hidden-xs hidden-sm ">
                        <h1>Quado Arkanoid</h1>
                        <p>Beautiful addictive Arkanoid (breakout) experience!</p>
                        <p>
                            <a href="https://play.google.com/store/apps/details?id=com.trajan.android.game.Quado&hl=en" >
                               <img src="/images/google-play-button.png" alt="Android app on Google play (free)"/>
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-6 hidden-xs hidden-sm phoneScreenshot">
                        <img src="/images/quado_nexus_title_3.png" alt="Quado Arkanoid Nexus5 Showcase">
                    </div>
                    <div class="col-sm-12 visible-xs visible-sm text-center">
                        <h1>Quado Arkanoid</h1>
                        <p>Beautiful addictive Arkanoid (breakout) experience!</p>
                        <p>
                            <a href="https://play.google.com/store/apps/details?id=com.trajan.android.game.Quado&hl=en" >
                                <img src="/images/google-play-button.png" alt="Android app on Google play (free)"/>
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-12 visible-sm phoneScreenshotSm">
                        <img src="/images/quado_nexus_title_half.png" class="img-responsive" alt="Quado Arkanoid Nexus5 Showcase">
                    </div>
                    <div class="col-xs-12 visible-xs phoneScreenshotXs">
                        <img src="/images/quado_nexus_title_half.png" class="img-responsive" alt="Quado Arkanoid Nexus5 Showcase">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h3><i class="fa fa-clock-o fa-lg"></i> Arkanoid 2014</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst.
                Curabitur ac iaculis enim. Duis nisi mi, tincidunt non arcu eget, rutrum imperdiet urna. </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3><i class="fa fa-heart fa-lg"></i> Beautiful themes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mi eget lectus faucibus luctus quis a leo.
                Proin posuere vel lacus ut cursus. Curabitur sed  non arcu eget, rutrum imperdiet urna. </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3><i class="fa fa-refresh fa-lg"></i> Addictive gameplay</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mi eget lectus faucibus luctus quis a leo.
                In hac habitasse platea dictumst. Curabitur ac iaculis enim. Duis nisi mi, tincidunt non arcu eget. </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <h3><i class="fa fa-sun-o fa-lg"></i> Zen experience</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac mi eget lectus faucibus luctus quis a leo.
                Proin posuere vel lacus ut cursus. Curabitur sed metus eros. </p>
        </div>
    </div>
</div>

<br />
<br />

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><i class="fa fa-youtube-play fa-lg"></i> Check it in action</h3>
                <iframe width="100%" height="360" src="//www.youtube.com/embed/oOkLRiiLVQs?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">

                <h3><i class="fa fa-comment fa-lg"></i> Ratings & reviews</h3>
                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <br />
                            Jul 21, 2014<br />
                            9:37 AM
                        </div>
                        <div class="col-xs-6">
                            <strong>Good old Arkanoid</strong> <br />
                            The more you play the harder it gets, which is a little annoying but it makes the game addictive. Great waiting time killer :)
                        </div>
                    </div>
                </div>

                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <br />
                            Jul 22, 2014<br />
                            6:21 AM
                        </div>
                        <div class="col-xs-8">
                            <strong>13/10</strong> <br />
                            I hate this game
                        </div>
                    </div>
                </div>

                <div class="alert alert-success">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <br />
                            Jul 21, 2014<br />
                            9:56 AM
                        </div>
                        <div class="col-xs-8">
                            <strong>very nice game</strong> <br />

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3><i class="fa fa-bars fa-lg"></i> Game modes</h3>
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <h3><i class="fa fa-trophy fa-lg"></i> Arcade</h3>
                    <p>Prove yourself and try to earn as much points as possible before <strong>ball's speed</strong>
                        ramps up to unmanageable levels. Bricks are automatically refreshed couple of seconds
                        after their destruction so you won't run out of them any time soon...</p>
                </div>
                <div class="col-sm-6 col-md-12">
                    <h3><i class="fa fa-star fa-lg"></i> Normal</h3>
                    <p>Complete all 15 levels interesting levels while earning as much points as possible.
                        Greatest challenge awaits near the end of every level because balls speed depends on how many
                        bricks are still left. Oh and don't forget, <strong>you have only one life</strong>...</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3><i class="fa fa-th fa-lg"></i> Various levels</h3>
            <img src="/images/quado_levels.jpg" class="img-responsive" alt="Quado Arkanoid Levels">
        </div>
    </div>
</div>
